# Get info on marathon cities

In [28]:
import pandas as pd 
from functools import reduce

In [29]:
df = pd.read_csv(
    '../data/running-records.csv'
)

In [30]:
marathons_df = df.loc[
    df['Event'] == 'Marathon'
]

In [53]:
unique_cities_sorted = marathons_df['City'].value_counts().sort_values(ascending=False)
major_cities = unique_cities_sorted[unique_cities_sorted > 50]

record_count = major_cities.reset_index()
record_count.columns = ['City', 'Record Count']

record_count

             City  Record Count
0          London           649
1          Berlin           452
2           Tokyo           429
3         Chicago           368
4          Boston           359
5           Paris           346
6        Valencia           344
7       Amsterdam           321
8       Rotterdam           293
9   New York City           292
10          Osaka           290
11          Seoul           284
12          Dubai           282
13      Frankfurt           269
14         Nagoya           238
15        Hamburg           193
16        Sevilla           176
17        Fukuoka           174
18           Otsu           169
19          Praha           143
20        Beijing           139
21           Roma           129
22      Eindhoven           122
23        Toronto           121
24           Wien           121
25         Milano           121
26      Barcelona           106
27         Xiamen           101
28       Shanghai            92
29        Houston            88
30          Daegu            88
31      Ljubljana            70
32    Los Angeles            70
33       Enschede            62
34         Lisboa            62
35         Torino            61
36         Kosice            56
37         Ottawa            52

In [54]:
count_by_gender = marathons_df.groupby(['City', 'Gender'])\
.agg(unique_count=('Name', 'nunique'))\
.reset_index()\
.rename(columns={'unique_count': 'People Count By Gender'})

gender_count = count_by_gender.pivot(
    index='City', 
    columns='Gender', 
    values='People Count By Gender'
).reset_index()
gender_count.columns.name = None

gender_count

          City    Men  Women
0    Abu Dhabi   11.0   13.0
1    Ad-Dawhah    NaN    1.0
2    Ampugnano   27.0   17.0
3    Amsterdam  161.0   90.0
4       Annecy    NaN    1.0
..         ...    ...    ...
242  Yamaguchi    1.0    1.0
243    Yingkou    NaN    1.0
244   Yokohama    NaN   26.0
245  Zhengzhou    3.0    6.0
246     Zürich   13.0   13.0

[247 rows x 3 columns]

In [55]:
country_count = marathons_df.groupby('City')['Country'].nunique().reset_index(name='Country Count')
country_count

          City  Country Count
0    Abu Dhabi              6
1    Ad-Dawhah              1
2    Ampugnano             11
3    Amsterdam             29
4       Annecy              1
..         ...            ...
242  Yamaguchi              1
243    Yingkou              1
244   Yokohama             11
245  Zhengzhou              3
246     Zürich             11

[247 rows x 2 columns]

In [56]:
people_count = marathons_df.groupby('City')['Name'].nunique().reset_index(name='People Count')
people_count

          City  People Count
0    Abu Dhabi            24
1    Ad-Dawhah             1
2    Ampugnano            44
3    Amsterdam           251
4       Annecy             1
..         ...           ...
242  Yamaguchi             2
243    Yingkou             1
244   Yokohama            26
245  Zhengzhou             9
246     Zürich            26

[247 rows x 2 columns]

In [57]:
marathon_summary = [record_count, country_count, people_count, gender_count]

merged_df = reduce(lambda left, right: pd.merge(left, right, on='City', how='outer'), marathon_summary)

merged_df = merged_df.dropna(subset=['Record Count'], axis=0)

merged_df

             City  Record Count  Country Count  People Count    Men  Women
0          London         649.0             50           350  146.0  204.0
1          Berlin         452.0             34           356  162.0  194.0
2           Tokyo         429.0             33           309  183.0  126.0
3         Chicago         368.0             30           255  134.0  121.0
4          Boston         359.0             42           235  100.0  135.0
5           Paris         346.0             23           274  161.0  113.0
6        Valencia         344.0             47           271  149.0  122.0
7       Amsterdam         321.0             29           251  161.0   90.0
8       Rotterdam         293.0             35           229  150.0   79.0
9   New York City         292.0             29           165   60.0  105.0
10          Osaka         290.0             25           213   55.0  158.0
11          Seoul         284.0             26           209  147.0   62.0
12          Dubai         282.0              9           196  107.0   89.0
13      Frankfurt         269.0             23           215  104.0  111.0
14         Nagoya         238.0             22           158    NaN  158.0
15        Hamburg         193.0             30           166   86.0   80.0
16        Sevilla         176.0             34           150   80.0   70.0
17        Fukuoka         174.0             27           127  127.0    NaN
18           Otsu         169.0             18           139  139.0    NaN
19          Praha         143.0             19           127   67.0   60.0
20        Beijing         139.0             14           111   42.0   69.0
21           Roma         129.0             14           115   74.0   41.0
22      Eindhoven         122.0              7           103   88.0   15.0
23        Toronto         121.0             13            98   43.0   55.0
24           Wien         121.0             17           106   67.0   39.0
25         Milano         121.0             13           106   68.0   38.0
26      Barcelona         106.0             10            99   64.0   35.0
27         Xiamen         101.0              6            80   44.0   36.0
28       Shanghai          92.0             10            74   34.0   40.0
29        Houston          88.0             11            73   26.0   47.0
30          Daegu          88.0             11            79   54.0   25.0
31      Ljubljana          70.0              7            64   39.0   25.0
32    Los Angeles          70.0             19            63   25.0   38.0
33       Enschede          62.0             12            60   35.0   25.0
34         Lisboa          62.0              6            53   27.0   26.0
35         Torino          61.0             11            56   30.0   26.0
36         Kosice          56.0              3            48   32.0   16.0
37         Ottawa          52.0              7            47   27.0   20.0

In [44]:
merged_df.to_json(
    '../public/marathon_cities.json', 
    orient='records',
    indent=2,
)